*{
    margin: 0px;
    padding: 0px;
}

html  {  
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y:scroll;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu {
    background-color: black;
}

.menu ul {
    list-style: none;
    float: right;
}

.menu ul li {
    float: right;
    padding-left: 1.3rem;
    padding-right: 1.3em;
}

.menu ul li a {
    line-height: 15px;
    cursor: pointer;
    text-decoration: none;
}


.menu ul li a:hover {
    border-radius: 5px;
    color: greenyellow;
    transition: color 0.2s;
}

.main h2,
p,
ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}


.menu {
    display: block;
    margin: auto;
}

.firstP {
    margin-top: 20px;
}

p {
    margin-top: 7px;
}

h2 {
    line-height: 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}

a:hover {
    color: blue;
    transition: 0.2s color;
}

.main ul {
    margin-left: 18px;
}

.main h1 {
    padding: 19px;
}

.footer {
    overflow: hidden;
}

@media only screen and (max-width : 346px){
    .menu ul li a {
        font-size: 14px;
    }
}