* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.site-headers {
    width: auto;
    height: auto;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
}

nav {
    width: auto;
    height: 100px;
    display: flex;
    color: white;
}

.logo {
    width: 50%;
    height: 100px;
}

.logo h1 {
    font-size: 38px;
    line-height: 100px;
    padding-left: 15px;
}

.logo h1 a {
    text-decoration: none;
    color: whitesmoke;
}

.contact {
    width: 100vw;
    height: 100vh;
}

.main {
    margin: 50px;
    box-shadow: grey 5px 5px 5px 5px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-bottom: 1px;
    background-color: black;
}

.footerLast div ul li a {
    width: 100%;
    text-decoration: none;
    padding: 9px;
}

.menuFOOTER:hover {
    color: #1e4d92;
    transition: 0.2s color;
}

.menu,
.menu ul,
.menu ul li,
.menu ul li a {
    color: white;
    display: flex;
    justify-content: center;
}

.menu ul li {
    display: flex;
    padding: 8px;
    list-style: none;
}

a:hover {
    color: yellowgreen;
    transition: 0.2s color;
}

@media (max-width : 500px) {
    .logo h1 {
        font-size: 17px;
    }

    .menuFOOTER{
        font-size: 15px;
    }

    #toolsMore{
        display: none;
    }
}

.contentTool{
    border: 2px solid grey;
    box-shadow: 5px 2px 5px 2px grey;
    margin: 56px;
    padding: 15px;
}
