* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.site-headers {
    width: auto;
    height: auto;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
}

nav {
    width: auto;
    height: 100px;
    display: flex;
    color: white;
}

.logo {
    width: 50%;
    height: 100px;
}

.logo h1 {
    line-height: 100px;
    padding-left: 15px;
}

.logo h1 a {
    text-decoration: none;
    color: whitesmoke;
}

.contact {
    width: 100vw;
    height: 100vh;
}

.main {
    margin: 100px;
    box-shadow: grey 5px 5px 5px 5px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-bottom: 1px;
    background-color: black;
    width: 100%;
}

.footerLast div ul li a{
    text-decoration: none;
}

.menuFOOTER:hover {
    color: #1e4d92;
    transition: 0.2s color;
}
.menu , .menu ul, .menu ul li, .menu ul li a {
    display: flex;
    justify-content: center;
}

.menu ul li{
    display: flex;
    padding: 8px;
    list-style: none;
}
a:hover {
    color: yellowgreen;
    transition: 0.2s color;
}
